{% extends 'layout.html.twig' %}

{% block page_title %}Cool Framework{% endblock %}

{% block content %}
<h1>
  Welcome to the Cool Framework<br>
  <small>By SUP'Internet DEV 2020</small>
  </h1>
  {{username }}
  <br>
  {% set foo =  0 %}
  {% for file in files %}
        <a download={{file}} href={{paths[foo]}}> {{file}}</a>
        <a name="filename"  id="filename" href='?action=deletefile' value='{{file}}'>❌</a>
        <br>
        {% set foo = foo + 1 %}
  {% endfor %}

  {% for folder in folders %}
    <a href={{paths[foo]}}>{{folder}}</a>
  {% endfor %}

{% endblock %}
